<div class="container" *ngIf="loadCompleto" style="margin-top: 20%; position: absolute; margin-left: 50%; z-index: 5;">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-blockUI [target]="painel" [blocked]="loadCompleto">
  <i class="fa fa-lock fa-5x" style="position:absolute;top:25%;left:50%"></i>
</p-blockUI>

<div class="container Container-expand" id="painel" style="z-index: 1; position: relative;">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
          <h1 style="margin-top: 5px;">
              <img src="assets/logo_ideia.png" style="margin-bottom: -2px;" width="91" height="35">Funcionários</h1>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome" />
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">

        <label>CPF</label>
        <input pInputText type="text" name="cpf" [(ngModel)]="filtro.cpf" />

      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">

        <label>Telefone</label>
        <input pInputText type="text" name="telefone" [(ngModel)]="filtro.telefone" />

      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" style="margin-top: 20px;">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">

      <p-dataTable  [value]="funcionarios" 
                    emptyMessage="Nenhum funcionario encontrado" 
                    [paginator]="true"
                    [responsive]="true" 
                    [rows]="filtro.itensPorPagina" 
                    [lazy]="true"
                    [totalRecords]="totalRegistros" 
                    (onLazyLoad)="aoMudarPagina($event)" 
                    #tabela >
        <p-column styleClass="Col-func-nome InputTextUpper" field="nome" header="Nome"></p-column>
        <p-column styleClass="Col-func-cpf" field="cpf" mask="999.999.999-99" header="CPF"></p-column>
        <p-column field="numeroCadastro" header="N° cadastro"></p-column>
        <p-column field="telefone" header="Celular"></p-column>
        <p-column field="telefoneFixo" header="Tel. Fixo"></p-column>
        <p-column styleClass="Col-func-cargo" field="cargo" header="Cargo"></p-column>
        <p-column styleClass="col-acoes">
          <ng-template pTemplate="body" let-func="rowData">
            <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/funcionarios', func.codigo]"></a>
            <a pButton icon="fa-print" pTooltip="Imprimir Cadastro" tooltipPosition="top" (click)="imprimirCadastro(func.codigo)" *ngIf="auth.temPermissao('ROLE_ADMIN')"></a>
            <!-- <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top" (click)="excluir()" [disabled]="!auth.temPermissao('ROLE_REMOVER_FUNCIONARIO')"></button> -->
          </ng-template>
        </p-column>
      </p-dataTable>

    </div>

    <div class="ui-g-12">
      <a pButton label="Novo Funcionário" routerLink="/funcionarios/novo"></a>
    </div>

  </div>

</div>
