<div class="container">
    <div class="ui-g">

      <form autocomplete="off" (ngSubmit)="pesquisar()">

        <div class="ui-g-12 ui-fluid" >
          <h1 style="margin-top: 5px;">
            <img src="assets/logo_ideia.png" style="margin-bottom: -2px;" width="91" height="35">
            Usuários
          </h1>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Nome</label>
          <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome" />
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>E-mail</label>
          <input pInputText type="text" name="email" [(ngModel)]="filtro.email" />
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" label="Pesquisar"></button>
        </div>

      </form>

    </div>

    <p-sidebar [(visible)]="sideBarPermissoes" position="right" [baseZIndex]="10000">
      <h1 style="font-weight:normal">Permissões Usuário</h1>
      <p-dataTable [value]="permissoes" [responsive]="true">
          <p-column field="descricao" header="Permissao"></p-column>
      </p-dataTable>
    </p-sidebar>

    <div class="ui-g">
      <div class="ui-g-12">

        <p-dataTable [value]="usuarios" [paginator]="true" [rows]="5" [responsive]="true" #tabela>
          <p-column field="nome" header="Nome"></p-column>
          <p-column field="email" header="Email"></p-column>

          <p-column styleClass="col-acoes">
            <ng-template pTemplate="body" let-user="rowData">
              <button pButton type="button" pTooltip="Permissões" (click)="verPermissoes(user.codigo)" icon="fa-exclamation"></button>
              <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/usuarios', user.codigo]"></a>
              <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(user)"
                      [disabled]="!auth.temPermissao('ROLE_ADMIN')"></button>
            </ng-template>
          </p-column>
        </p-dataTable>

      </div>

      <div class="ui-g-12">
        <a pButton label="Novo Usuário" routerLink="/usuarios/novo"></a>
      </div>

    </div>

  </div>
