<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g">
      <div class="ui-g-12">
          <h1 style="margin-top: 5px;">
            <img src="assets/logo_ideia.png" style="margin-bottom: -2px;" width="91" height="35">Novo Agendamento</h1>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Motivo<span style="color: red;">*</span></label>
        <p-dropdown name="motivo"
                    [options]="motivos"
                    placeholder="Selecione"
                    [autoWidth]="false"
                    [filter]="true"
                    (onChange)="filtraMotivos(f)"
                    [(ngModel)]="agendamento.motivo.codigo"
                    #motivo="ngModel" 
                    required>
        </p-dropdown>
        <app-message [control]="motivo" error="required" text="Informe o motivo do agendamento"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" style="margin-top: 20px;">
        <label>Trabalho armado ?</label>
          <p-checkbox [(ngModel)]="agendamento.trabalhoArmado" 
                      name="trabalhoArmado" 
                      (onChange)="carregarHorarios()"
                      binary="true"></p-checkbox>
      </div>      

      <div class="ui-g-12 ui-md-3 ui-fluid" *ngIf="!agendamento.avulso">
        <label>Data Agendamento<span style="color: red;">*</span></label>
        <p-dropdown name="diaAgenda" 
                    [options]="agendas" 
                    placeholder="Selecione" 
                    [autoWidth]="false" 
                    [filter]="true"
                    [(ngModel)]="agendamento.agenda.codigo"
                    (onChange)="onChange($event)"
                    #diaAgenda="ngModel" 
                    required>
        </p-dropdown>
        <app-message [control]="diaAgenda" error="required" text="Informe o dia do agendamento"></app-message>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid" *ngIf="agendamento.avulso">
        <label>Data Agendamento<span style="color: red;">*</span></label>
        <p-calendar name="diaAgenda" 
                    dateFormat="dd/mm/yy" 
                    [inline]="false" 
                    [readonlyInput]="false"
                    [showIcon]="false"
                    [(ngModel)]="agenda.diaAgenda" 
                    #diaAgenda="ngModel" 
                    required>
        </p-calendar>
        <app-message [control]="diaAgenda" error="required" text="Informe o dia do agendamento"></app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid" *ngIf="!agendamento.avulso">
        <label>Horário<span style="color: red;">*</span></label>
        <p-dropdown name="horaExame" 
                    [options]="horarios" 
                    placeholder="Selecione" 
                    [autoWidth]="false" 
                    [filter]="true"
                    [(ngModel)]="agendamento.codHorario"
                    (onChange)="selectHorario($event)"
                    required
                    ngModel
                    #horaExame="ngModel">
        </p-dropdown>
        <app-message [control]="horaExame" error="required" text="O campo Horário é obrigatório"></app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid" *ngIf="agendamento.avulso">
        <label>Horário<span style="color: red;">*</span></label>
          <p-inputMask  mask="99:99" 
                        type="text" 
                        name="horaExame" 
                        [(ngModel)]="horario.horaExame"
                        required
                        ngModel
                        #horaExame="ngModel">
          </p-inputMask>
        <app-message [control]="horaExame" error="required" text="O campo Horário é obrigatório"></app-message>
      </div>      

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Funcionário<span style="color: red;">*</span></label>
        <p-dropdown name="funcionario" 
                    [options]="funcionarios" 
                    placeholder="Selecione" 
                    [autoWidth]="false" 
                    [filter]="true"
                    [(ngModel)]="agendamento.funcionario.codigo"
                    (onChange)="selecionaFuncionario()"
                    required
                    ngModel
                    #funcionario="ngModel">
        </p-dropdown>
        <app-message [control]="funcionario" error="required" text="O campo Funcionário é obrigatório"></app-message>
      </div>

      <div  class="ui-g-12 ui-md-3 ui-fluid" *ngIf="maisDeUmaEmpresa">
        <label>Empresa<span style="color: red;">*</span></label>
        <p-dropdown name="empresa"
                    [options]="empresas"
                    placeholder="Selecione"
                    [autoWidth]="false"
                    [filter]="true"
                    [(ngModel)]="codEmpresa"
                    ngModel
                    #empresa="ngModel"
                    (onChange)="selecionaEmpresa()"
                    required></p-dropdown>
          <app-message [control]="empresa" error="required" text="O campo Empresa é obrigatório"></app-message>
      </div>
      
      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" name="observacao" [(ngModel)]="agendamento.observacao"></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info" (click)="novo(f)"></button>
        <button pButton type="button" 
                label="Avulso" 
                class="ui-button-warning"  
                (click)="agendamento.avulso = !agendamento.avulso"
                *ngIf="auth.temPermissao('ROLE_ADMIN')"></button>
        <a routerLink="/agendamentos">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
