<nav class="navbar">

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibirMenu()"><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">{{ auth.jwtPayload?.nome }}</li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_PESQUISAR_AGENDAMENTO') || auth.temPermissao('ROLE_ADMIN')"><a
        routerLink="/agendamentos">Agendamentos</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_PESQUISAR_EMPRESA') || auth.temPermissao('ROLE_ADMIN')"><a
        routerLink="/empresas">Empresas</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_PESQUISAR_FUNCIONARIO') || auth.temPermissao('ROLE_ADMIN')"><a
        routerLink="/funcionarios">Funcionarios</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_ADMIN')"><a routerLink="/usuarios">Usuários</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_PESQUISAR_LAUDO') || auth.temPermissao('ROLE_ADMIN')"><a
        routerLink="/laudos">Laudos</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_ADMIN')"><a
        routerLink="/agendas">Agendas/Horários</a></li>
    <li class="navbar-menuitem"><a href="javascript:;" (click)="logout()">Logout</a></li>
  </ul>

</nav>
