<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
          <h1 style="margin-top: 5px;">
              <img src="assets/logo_ideia.png" style="margin-bottom: -2px;" width="91" height="35">Empresas</h1>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome" />
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>CNPJ</label>
        <input pInputText type="text" name="cnpj" [(ngModel)]="filtro.cnpj" />
      </div>

      <!-- <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Telefone</label>
        <input pInputText type="text" name="telefone" [(ngModel)]="filtro.telefone" />
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>E-mail</label>
        <input pInputText type="text" name="email" [(ngModel)]="filtro.email" />
      </div> -->

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">

      <p-dataTable  [value]="empresas" 
                    emptyMessage="Nenhuma empresa encontrada" 
                    [paginator]="true"
                    [responsive]="true" 
                    [rows]="filtro.itensPorPagina" 
                    [lazy]="true"
                    [totalRecords]="totalRegistros" 
                    (onLazyLoad)="aoMudarPagina($event)" 
                    #tabela >

        <p-column field="nome" header="Nome"></p-column>
        <p-column field="cnpj" header="CNPJ"></p-column>
        <p-column field="ativa" header="Ativa ?"></p-column>
        <p-column styleClass="Col-Acoes-Empresa">
          <ng-template pTemplate="body" let-emp="rowData">
            <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/empresas', emp.codigo]"></a>
            <button type="button" (click)="showDialog(emp)" pButton icon="fa-external-link-square" label="Contatos"></button>
            <!-- <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top" (click)="excluir()" [disabled]="!auth.temPermissao('ROLE_REMOVER_EMPRESA')"></button> -->
          </ng-template>
        </p-column>
      </p-dataTable>

    </div>

    <div class="ui-g-12">
      <a pButton label="Nova Empresa" routerLink="/empresas/novo"></a>
    </div>

  </div>

  <p-dialog header="Contatos" [(visible)]="display" modal="modal" width="900" [responsive]="true">

    <p-dataTable [value]="contatos" [responsive]="true">
        <p-column field="nome" header="Nome"></p-column>
        <p-column field="telefone" header="Telefone"></p-column>
        <p-column field="telefoneFixo" header="Tel. Fixo"></p-column>
        <p-column field="email" header="E-mail"></p-column>
    </p-dataTable>

    <p-footer>
        <button type="button" pButton icon="fa-close" (click)="display=false" label="Fechar"></button>
    </p-footer>
  </p-dialog>

</div>
