<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
  
      <div class="ui-g">
        <div class="ui-g-12">
            <h1 style="margin-top: 5px;">
                <img src="assets/logo_ideia.png" style="margin-bottom: -2px;" width="91" height="35">{{ editando ? 'Edição de' : 'Novo'}} Funcionário</h1>
        </div>
  
        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Nome<span style="color: red;">*</span></label>
          <!-- {{ nome.errors  | json }} -->
          <input  pInputText
                  type="text"
                  name="nome"
                  [(ngModel)]="funcionario.nome"
                  ngModel
                  #nome="ngModel"
                  required minlength="3" />
  
                  <app-message [control]="nome" error="required" text="Informe o nome do funcionário"></app-message>
                  <app-message [control]="nome" error="minlength"
                    text="Mínimo de {{ nome?.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas: {{ nome?.errors?.minlength?.actualLength }}">
                  </app-message>
        </div>
  
        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>CPF<span style="color: red;">*</span></label>
          <p-inputMask  mask="999.999.999-99"
                        type="text"
                        name="cpf"
                        [(ngModel)]="funcionario.cpf"
                        (onBlur)="loadFuncionario()"
                        ngModel
                        #cpf="ngModel"
                        required></p-inputMask>
          <app-message [control]="cpf" error="required" text="Informe o CPF do funcionário"></app-message>
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
            <label>RG</label>
            <input pInputText type="text" name="rg" [(ngModel)]="funcionario.rg" />
          </div>
  
        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Data Nascimento<span style="color: red;">*</span></label>
          <p-inputMask  mask="99/99/9999"
                        type="text"
                        name="dataNascimento"
                        [(ngModel)]="funcionario.dataNascimento"
                        ngModel
                        #dataNascimento="ngModel"
                        required></p-inputMask>
  
          <app-message [control]="dataNascimento" error="required" text="Informe a data de nascimento do funcionário"></app-message>
        </div>
  
        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Matrícula</label>
          <input pInputText type="text" name="matricula" [(ngModel)]="funcionario.matricula" />
        </div>
  
        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Celular<span style="color: red;">*</span></label>
          <p-inputMask  mask="(99) 9 9999-9999"
                        type="text"
                        name="telefone"
                        [(ngModel)]="funcionario.telefone"
                        ngModel
                        #telefone="ngModel"
                        required></p-inputMask>
          <app-message [control]="telefone" error="required" text="Informe o telefone"></app-message>
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Tel. Fixo</label>
          <p-inputMask  mask="(99) 9999-9999"
                        type="text"
                        name="telefoneFixo"
                        [(ngModel)]="funcionario.telefoneFixo"
                        ngModel
                        #telefoneFixo="ngModel"></p-inputMask>
          <!-- <app-message [control]="telefoneFixo" error="required" text="Informe o telefoneFixo"></app-message> -->
        </div>
  
        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>E-mail</label>
          <!-- {{ contatoEmail | json }} -->
          <input  pInputText
                  type="email"
                  name="email"
                  [(ngModel)]="funcionario.email" #contatoEmail="ngModel" />
        </div>
  
        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Cargo<span style="color: red;">*</span></label>
          <input  pInputText 
                  type="text" 
                  name="cargo" 
                  [(ngModel)]="funcionario.cargo"   
                  ngModel
                  #cargo="ngModel"
                  required minlength="3" />

          <app-message [control]="cargo" error="required" text="Informe o cargo do funcionário"></app-message>
          <app-message [control]="cargo" error="minlength"
            text="Mínimo de {{ cargo?.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas: {{ cargo?.errors?.minlength?.actualLength }}">
          </app-message>
        </div>
  
        <div  class="ui-g-12 ui-md-3 ui-fluid"
              *ngIf="auth.temPermissao('ROLE_ADMIN')">
          <label>Estado Civil</label>
          <p-dropdown name="estadoCivil"
                      [options]="estadosCivis"
                      placeholder="Selecione"
                      [autoWidth]="false"
                      [filter]="true"
                      [(ngModel)]="funcionario.estadoCivil"
                      ngModel
                      #estadoCivil="ngModel"
                      ></p-dropdown>
        </div>
  
        <div  class="ui-g-12 ui-md-3 ui-fluid"
              *ngIf="auth.temPermissao('ROLE_ADMIN')">
          <label>Escolaridade</label>
          <p-dropdown name="escolaridade"
                      [options]="escolaridades"
                      placeholder="Selecione"
                      [autoWidth]="false"
                      [filter]="true"
                      [(ngModel)]="funcionario.escolaridade"
                      ngModel
                      #escolaridade="ngModel"
                      ></p-dropdown>
        </div>
  
        <div  class="ui-g-12 ui-md-3 ui-fluid"
              *ngIf="auth.temPermissao('ROLE_ADMIN')">
          <label>Naturalidade</label>
          <input pInputText type="naturalidade" name="naturalidade" [(ngModel)]="funcionario.naturalidade" />
        </div>
  
  
      <div  class="ui-g-12 ui-md-3 ui-fluid"
            style="margin-top: 18px;"
            *ngIf="auth.temPermissao('ROLE_ADMIN')">
        <p-selectButton name="sexo" [options]="generos" [(ngModel)]="funcionario.sexo" #sexo></p-selectButton>
      </div>
       
        <div class="ui-g-12">
          <hr>
          <h3>Endereço</h3>
        </div>
  
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>CEP</label>
          <p-inputMask  mask="99.999-999"
                        type="text"
                        name="cep"
                        (onBlur)="buscarCep($event)"
                        [(ngModel)]="funcionario?.endereco.cep">
          </p-inputMask>
        </div>
  
        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Logradouro</label>
          <input pInputText type="text" name="logradouro" [(ngModel)]="funcionario.endereco.logradouro" />
        </div>
  
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Número</label>
          <input pInputText type="text" name="numero" [(ngModel)]="funcionario.endereco.numero" />
        </div>
  
        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Bairro</label>
          <input pInputText type="text" name="bairro" [(ngModel)]="funcionario.endereco.bairro" />
        </div>
  
        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Complemento</label>
          <input pInputText type="text" name="complemento" [(ngModel)]="funcionario.endereco.complemento" />
        </div>
  
        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Cidade</label>
          <input pInputText type="text" name="cidade" [(ngModel)]="funcionario.endereco.cidade" />
        </div>
  
        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Estado</label>
          <input pInputText type="text" name="estado" [(ngModel)]="funcionario.endereco.estado" />
        </div>
  
        <div  class="ui-g-12 ui-md-12 ui-fluid"
              *ngIf="!auth.temPermissao('ROLE_ADMIN')">
          <label>Empresa</label>
          <span>
            {{ auth.jwtPayload?.empresa }}
          </span>
        </div>
  
        <div  class="ui-g-12 ui-md-6 ui-fluid"
              *ngIf="auth.temPermissao('ROLE_ADMIN')">
          <label>Empresa</label>
          <p-dropdown name="empresa"
                      [options]="empresas"
                      placeholder="Selecione"
                      [autoWidth]="false"
                      [filter]="true"
                      [(ngModel)]="codEmpresa"
                      ngModel
                      #empresa="ngModel"
                      (onChange)="selecionaEmpresa()"
                      required></p-dropdown>
            <app-message [control]="empresa" error="required" text="O campo Empresa é obrigatório"></app-message>
        </div>
  
        <div class="ui-g-6 ui-g-offset-6 ui-md-2 ui-md-offset-10 ui-fluid">
          <p-fileUpload 
                        name="anexo"
                        mode="basic"
                        auto="true"
                        maxFileSize="1000000"
                        chooseLabel="Anexar"
                        accept="image/*,application/*"
                        [url]="urlUploadAnexo"
                        (onBeforeSend)="antesUploadAnexo($event)"
                        (onUpload)="aoTerminarUploadAnexo($event)">
            </p-fileUpload>
  
        </div>

        <div class="ui-g-6 ui-g-offset-6 ui-md-2 ui-md-offset-10 ui-fluid" style="text-align:center" *ngIf="funcionario.anexo">
          <a target="_blank" href="{{funcionario.urlAnexo}}">Baixar Imagem</a>
          <img src="{{funcionario.urlAnexo}}" alt="Foto do funcionário" height="80" width="120"/>
        </div>
  
        <div class="ui-g-12">
          <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
          <button pButton type="button" label="Novo" class="ui-button-info" (click)="novo(f)"></button>
          <a routerLink="/funcionarios">Voltar para a pesquisa</a>
        </div>
      </div>
  
    </form>
  </div>
  